# macOS
.DS_Store

# VSCode
.vscode/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Outputs/logs
examples/**/output/
examples/**/outputs/
logs/
snapshots/
*.log
*.csv
*.xlsx

# Secrets
.env

# Ansible local cache/artifacts
.ansible/


# runtime artifacts
examples/06_netauto_ecosystem/04_docker_monitoring/shared/results.json
examples/06_netauto_ecosystem/04_docker_monitoring/shared/state.json
examples/06_netauto_ecosystem/04_docker_monitoring/snmp_project/shared/latest
examples/06_netauto_ecosystem/04_docker_monitoring/snmp_project/shared/state
examples/06_netauto_ecosystem/04_docker_monitoring/snmp_project/shared/*.csv



# python import profiling artifacts
examples/06_netauto_ecosystem/importtime.txt
