snmp-server view {{ snmpv3_view_name }} {{ snmpv3_view_oid }} {{ snmpv3_view_permission }}
snmp-server group {{ snmpv3_group_name }} v3 {{ snmpv3_group_security_level }} read {{ snmpv3_view_name }}
snmp-server user {{ snmpv3_user }} {{ snmpv3_group_name }} v3 auth sha {{ vault_snmpv3_auth_password }} priv aes 128 {{ vault_snmpv3_priv_password }}
